body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #aeb8b5;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  background-color: #686565;
  color:white;
  font-size:2vw}

button:hover{
  background-color:white;
  color: #686565;
}

br {
  content: "";
  display: block;
  margin-bottom: 0.5vh;
 }
 
img {
   width:48%;
   height:96%;}

#start_stop, #reset{
  background-color:white;

}

#start_stop:hover , #reset:hover{
  background-color:#686565;

}